# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Local uploads
# =========================
uploads/